.quote-container {
  text-align: center;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.quote {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: black;
}

.author {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: black;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
}

button:hover {
  background-color: #0056b3;
}